@model AppUser
@{
    ViewData["Title"] = "Account Details";
}
@if (Model != null)
{
    <h1>@ViewData["Title"]</h1>
    <div class="card ">
        <h4 class="card-header">@ViewData["Title"]</h4>
        <div class="card-body">
            <div class="card-text">
                Name: @Model.FirstName @Model.LastName
                <hr />
                Email: @Model.Email
                <hr />
                Phone: @Model.PhoneNumber

            </div>
        </div>
    </div>
    <a asp-action="EditAccount" asp-controller="Account" asp-route-ID="@Model.Id" class="btn btn-primary" style="margin-top:10px;">Edit</a>
}
else
{
    <p class="alert alert-danger">Error. User doesn't exist.</p>
}
