@model TablesReservationViewModel
@{
    ViewData["Title"] = "Make a reservation for table "+Model.TableId;
}
@*<ul>
    <li>TableId: @Model.TableId</li>
    <li>UserEmail: @Model.UserEmail</li>
    <li>Date: @Model.Date</li>
    <li>TimeFrom: @Model.TimeFrom</li>
    <li>TimeTo: @Model.TimeTo</li>
</ul>*@

<form asp-controller="Tables" asp-action="Reserve" method="post">
    <div class="form-horizontal">
        <h4>@ViewData["Title"]</h4>

        <hr />

        <input type="hidden" asp-for="TableId" />
        <input type="hidden" asp-for="UserEmail" />

        <div class="form-group">
            <label asp-for="Date" class="col-md-2"></label>
            <div class="col-md-10">
                <input type="date" asp-for="Date" class="form-control" id="datePickerReserveTable" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TimeFrom" class="col-md-2"></label>
            <div class="col-md-10">
                <input type="time" asp-for="TimeFrom" class="form-control" step="3600" />
                <span asp-validation-for="TimeFrom" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TimeTo" class="col-md-2"></label>
            <div class="col-md-10">
                <input type="time" asp-for="TimeTo" class="form-control" step="3600" />
                <span asp-validation-for="TimeTo" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reserve" class="btn btn-primary" style="width:90px"/>
                <a asp-controller="tables" asp-action="index" class="btn btn-danger"  style="width:90px">Cancel</a>
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</form>