@model TablesReservationViewModel
@{
    ViewData["Title"] = "Make a reservation";
}
<h1>@ViewData["Title"]</h1>
<ul>
    <li>TableId: @Model.TableId</li>
    <li>UserId: @Model.UserId</li>
    <li>Date: @Model.Date</li>
    <li>TimeFrom: @Model.TimeFrom</li>
    <li>TimeTo: @Model.TimeTo</li>
</ul>
