@model TablesReservationViewModel
@{
    ViewData["Title"] = "Make a reservation for table "+Model.TableId;
}
@*<ul>
    <li>TableId: @Model.TableId</li>
    <li>UserEmail: @Model.UserEmail</li>
    <li>Date: @Model.Date</li>
    <li>TimeFrom: @Model.TimeFrom</li>
    <li>TimeTo: @Model.TimeTo</li>
</ul>*@

<form asp-controller="Tables" asp-action="Reserve" method="post">
    <div class="form-horizontal">
        <h4>@ViewData["Title"]</h4>

        <hr />

        <input id="tableId" type="hidden" asp-for="TableId"/>
        <input type="hidden" asp-for="UserEmail" value=@Model.UserEmail/>

        <div class="form-group">
            <label asp-for="Date" class="col-md-2"></label>
            <div class="col-md-10">
                <input type="date" asp-for="Date" class="form-control" id="datePickerReserveTable" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TimeFrom" class="col-md-2"></label>
            <div class="col-md-10">
                <input id="timeFrom" type="time" asp-for="TimeFrom" class="form-control" step="3600" aria-describedby="timeFromHelp"/>
                <small id="timeFromHelp" class="form-text text-muted">Valid hours: 14:00-23:00</small>
                <span asp-validation-for="TimeFrom" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TimeTo" class="col-md-2"></label>
            <div class="col-md-10">
                <input id="timeTo" type="time" asp-for="TimeTo" class="form-control" step="3600" aria-describedby="timeToHelp"/>
                <small id="timeToHelp" class="form-text text-muted">Valid hours: 15:00-24:00</small>
                <span asp-validation-for="TimeTo" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="reserveButton" value="Reserve" class="btn btn-primary" style="width:90px"/>
                <a asp-controller="tables" asp-action="index" class="btn btn-danger"  style="width:90px">Cancel</a>
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</form>
@*<span id="userEmail">@Model.UserEmail</span><br />
<span id="timeFrom">@Model.TimeFrom</span><br />
<span id="timeTo">@Model.TimeTo</span><br />
<span id="date">@Model.Date</span><br />
<span id="tableId">@Model.TableId</span><br />
<span id="connected">Not connected</span>*@


@*<script src="~/js/signalr/dist/browser/signalr.js"></script>*@
<script type="text/javascript">
    "use strict";
    datePickerReserveTable.min = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];

    let timeFrom = document.getElementById("timeFrom");
    let timeTo = document.getElementById("timeTo");

    if (timeFrom.value < "14:00")
        timeFrom.value = "14:00";

    if (timeTo.value < "15:00" && timeTo.value!="00:00")
        timeTo.value = "15:00";

    timeFrom.addEventListener('input', () => {
        if (timeFrom.value < "14:00") {
            timeFrom.value = "14:00";
            /*timeTo.value = "15:00";*/
        }
        if (timeFrom.value > timeTo.value && timeTo.value != "00:00") {
            timeTo.value = timeFrom.value;
            /*timeTo.min = timeFrom.value;*/
        }
    });

    timeTo.addEventListener('input', () => {
        if (timeTo.value < "15:00" && timeTo.value != "00:00") {
            timeTo.value = "15:00";
            /*timeFrom.value = "14:00";*/
        }
        if (timeTo.value < timeFrom.value && timeTo.value != "00:00") {
            timeFrom.value = timeTo.value;
            /*timeFrom.max = timeTo.value;*/
        }
    });
    //var connection = new signalR.HubConnectionBuilder().withUrl("/Hubs/Reservation").build();

    //connection.start().then(function () {
    //    document.getElementById("connected").textContent = "Connected";
    //}).catch(function (err) {
    //    return console.error(err.toString());
    //});

    //document.getElementById("reserveButton").addEventListener("click", function (event) {
    //    var msg = "hi from html";
    //    connection.invoke("SendReservation", msg).then(function () {
    //        document.getElementById("connected").textContent = msg;
    //    }).catch(function (err) {
    //        document.getElementById("connected").textContent = "Error";
    //        return console.error(err.toString());
    //    });
       
    // });
</script>