@model List<ReservationViewModel>
@{
    ViewData["Title"] = "Reservations";
}
<h1>@ViewData["Title"]</h1>
<table id="reservationsTable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th style="display:none" scope="col">ReservationId</th>
            <th scope="col">Table</th>
            <th scope="col">Date</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var res in Model)
        {
            @if (res.Expired)
            {
                <tr class="text-danger" style="cursor:pointer" @*onclick="window.location = '/Reservations/Details/@res.Id'"*@>
                    <th style="display:none" scope="row">@res.ReservationId</th>
                    <td>@res.TableId</td>
                    <td>@res.Date</td>
                    <td>@res.TimeFrom</td>
                    <td>@res.TimeTo</td>
                    <td>@res.Email</td>
                    <td>@res.PhoneNumber</td>
                </tr>
            }
            else
            {
                <tr style="cursor:pointer" @*onclick="window.location = '/Reservations/Details/@res.Id'"*@>
                    <th style="display:none" scope="row">@res.ReservationId</th>
                    <td>@res.TableId</td>
                    <td>@res.Date</td>
                    <td>@res.TimeFrom</td>
                    <td>@res.TimeTo</td>
                    <td>@res.Email</td>
                    <td>@res.PhoneNumber</td>
                </tr>
            }
        }
    </tbody>
</table>
@*<span id="connected">Not connected</span>
    <ul id="reservationList">
    </ul>*@

<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script type="text/javascript">
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/Hubs/Reservation").build();

    connection.on("ReceiveReservation", (reservation) => {

        var tbodyRef = document.getElementById("reservationsTable").getElementsByTagName("tbody")[0];

        var newRow = tbodyRef.insertRow(0);
        newRow.style.cursor = "pointer";
        newRow.onclick = function (row) {
            return function () {
                callback(row);
            };
        }(newRow);
        //newRow.onclick = "window.location = '/Reservations/Details/" + reservation[0] + "'";
        //newRow.onclick = "window.location = '/Home/Index'";
        var headerCell = document.createElement("TH");
        headerCell.innerHTML = reservation[0];
        headerCell.style.display = 'none';
        newRow.appendChild(headerCell);

        var cell1 = newRow.insertCell();
        cell1.innerHTML = reservation[3];
        var cell2 = newRow.insertCell();
        cell2.innerHTML = reservation[4];
        var cell3 = newRow.insertCell();
        cell3.innerHTML = reservation[5];
        var cell4 = newRow.insertCell();
        cell4.innerHTML = reservation[6];
        var cell5 = newRow.insertCell();
        cell5.innerHTML = reservation[1];
        var cell6 = newRow.insertCell();
        cell6.innerHTML = reservation[2];
        document.getElementById("connected").textContent = "Received";
        var li = document.createElement("li");
        document.getElementById("reservationList").appendChild(li);
        //li.textContent = reservation[0] + " " + reservation[1] + " " + reservation[2] + " " + reservation[3] + " " + reservation[4] + " " + reservation[5] + " " + reservation[6];
    });

    //signalR start connection
    connection.start().then(function () {
        document.getElementById("connected").textContent = "Connected";
    }).catch(function (err) {
        return console.error(err.toString());
    });

    //add on click functionality to every row in the table
    function onRowClick(tableId, callback) {
        var table = document.getElementById(tableId),
            rows = table.getElementsByTagName("tr"),
            i;
        for (i = 0; i < rows.length; i++) {
            table.rows[i].onclick = function (row) {
                return function () {
                    callback(row);
                };
            }(table.rows[i]);
        }
    };

    //redirect to row's details page
    onRowClick("reservationsTable", function (row) {
        var value = row.getElementsByTagName("th")[0].innerHTML;
        console.log("/Reservations/Details/" + value);
        window.location = "/Reservations/Details/" + value;
    });
</script>