@model UsersDetailsViewModel
@{
    ViewData["Title"] = "User Details";
}

<div class="card ">
    <h4 class="card-header">@ViewData["Title"]</h4>
    <div class="card-body">
        <div class="card-text">
            Name: @Model.AppUser.FirstName @Model.AppUser.LastName
            <hr />
            Email: @Model.AppUser.Email
            <hr />
            Phone: @Model.AppUser.PhoneNumber
            <hr />
            Roles:
            @if (Model.Roles.Count > 0)
            {
                @foreach(var role in Model.Roles)
                {
                    @role
                }
            }
        </div>
    </div>
</div>
<a asp-controller="Users" asp-action="Index" class="btn btn-primary" style="margin-top:10px">Back</a>
