@model AppUser
@{
    ViewData["Title"]= "User Details";
}

<div class="card ">
    <h4 class="card-header">@ViewData["Title"]</h4>
    <div class="card-body">
        <div class="card-text">
            Id: @Model.Id
        </div>
        <div class="card-text">
            Name: @Model.FirstName @Model.LastName
        </div>
        <div class="card-text">
            Email: @Model.Email
        </div>
        <div class="card-text">
            Phone: @Model.PhoneNumber
        </div>
    </div>
</div>
<a asp-controller="Users" asp-action="Index" class="btn btn-primary" style="margin-top:10px">Back</a>
