@model UsersDetailsViewModel
@{
    ViewData["Title"]= "User Details";
}

<div class="card ">
    <h4 class="card-header">@Model.PageTitle</h4>
    <div class="card-body">
        <div class="card-text">
            Id: @Model.AppUser.UserId
        </div>
        <div class="card-text">
            Name: @Model.AppUser.FirstName @Model.AppUser.LastName
        </div>
        <div class="card-text">
            Email: @Model.AppUser.Email
        </div>
        <div class="card-text">
            Phone: @Model.AppUser.PhoneNumber
        </div>
        <div class="card-text">
            Role: @Model.AppUser.RoleId
        </div>
    </div>
</div>
<a asp-controller="Users" asp-action="Index" class="btn btn-primary" style="margin-top:10px">Back</a>
