@model IEnumerable<AppUser>
@{
    ViewData["Title"]= "Users";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appUser in Model)
        {
            <tr style="cursor:pointer" onclick="window.location = '/Users/Details/@appUser.Id'">
                <th scope="row">@appUser.FirstName @appUser.LastName</th>
                <td>@appUser.Email</td>
                <td>@appUser.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>